Repository mangila/pokedex-cloud-native: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile_lambda, terraform_format, terraform_plan

compile_lambda:
  name: compile lambda go code
  entry: python compile_lambda.py
  language: system
  verbose: true
  require_serial: true
  stages:
  - pre-commit

terraform_format:
  name: Run terraform fmt
  entry: python terraform_format.py
  language: system
  verbose: true
  require_serial: true
  stages:
  - pre-commit

terraform_plan:
  name: Run terraform plan
  entry: python terraform_plan.py
  language: system
  verbose: true
  require_serial: true
  stages:
  - pre-commit

ci test
  .circleci/config.yml
Due: none

ci test
  app/lambda_src/hello/main.go
Due: compile_lambda, terraform_format, terraform_plan

ci test
  .pre-commit-config.yaml
Due: none

lambda env
  app/modules/compute_module/lambda.tf
  app/modules/compute_module/terraform_variables.tf
  app/terraform.tf
Due: terraform_format, terraform_plan

some go code
  .circleci/config.yml
  .pre-commit-config.yaml
  app/lambda_src/generation/go.mod
  app/lambda_src/generation/go.sum
  app/lambda_src/generation/main.go
  app/lambda_src/go.work.sum
  app/lambda_src/hello/main.go
  app/lambda_src/shared/go.mod
  app/lambda_src/shared/go.sum
  app/lambda_src/shared/models/models.go
  app/lambda_src/shared/pokeapi/pokeapi_client.go
  app/lambda_src/shared/pokeapi/pokeapi_client_test.go
  app/terraform.tf
  app/terraform_data.tf
  app/terraform_locals.tf
  compile_go_lambda.py
  test_go.py
Due: compile_lambda, terraform_format, terraform_plan

go work
  .circleci/config.yml
  README.md
  app/lambda_src/go.work.sum
  app/lambda_src/shared/go.mod
  app/lambda_src/shared/go.sum
  go_workspace_init.py
Due: compile_lambda, terraform_format, terraform_plan

lambda timeout
  app/modules/compute_module/lambda.tf
  app/modules/compute_module/terraform_variables.tf
  app/terraform.tf
  app/terraform_locals.tf
Due: terraform_format, terraform_plan

skip [ci skip]
  app/iam.tf
  app/lambda_src/fetch_generation/go.mod
  app/lambda_src/fetch_generation/go.sum
  app/lambda_src/fetch_generation/main.go
  app/lambda_src/generation/go.mod
  app/lambda_src/generation/go.sum
  app/lambda_src/generation/main.go
  app/lambda_src/go.work.sum
  app/terraform.tf
  app/terraform_outputs.tf
  compile_go_lambda.py
Due: compile_lambda, terraform_format, terraform_plan

skip [ci skip]
  .circleci/config.yml
  README.md
  app/lambda_src/enrich_pokemon/go.mod
  app/lambda_src/enrich_pokemon/main.go
  app/lambda_src/fetch_generation/main.go
  app/lambda_src/persist_pokemon/go.mod
  app/lambda_src/persist_pokemon/go.sum
  app/lambda_src/persist_pokemon/main.go
  app/modules/lambda_module/lambda.tf
  app/s3.tf
  app/terraform.tf
  app/terraform_outputs.tf
  compile_go_lambda.py
  go_workspace_init.py
  shared_vars.py
  terraform_apply.py
  terraform_destroy.py
  terraform_plan.py
  terraform_vars.py
  test_go.py
Due: compile_lambda, terraform_format, terraform_plan

skip [ci skip]
  .pre-commit-config.yaml
  README.md
  go_compile_lambda.py
  go_test.py
Due: none

v2
  .circleci/config.yml
  .pre-commit-config.yaml
  README.md
  app/iam.tf
  app/lambda_src/enrich_pokemon/go.mod
  app/lambda_src/enrich_pokemon/main.go
  app/lambda_src/fetch_generation/go.mod
  app/lambda_src/fetch_generation/go.sum
  app/lambda_src/fetch_generation/main.go
  app/lambda_src/go.work.sum
  app/lambda_src/persist_pokemon/go.mod
  app/lambda_src/persist_pokemon/go.sum
  app/lambda_src/persist_pokemon/main.go
  app/lambda_src/shared/go.mod
  app/lambda_src/shared/go.sum
  app/lambda_src/shared/models/models.go
  app/lambda_src/shared/models/validation.go
  app/lambda_src/shared/models/validation_test.go
  app/lambda_src/shared/pokeapi/pokeapi_client.go
  app/lambda_src/shared/pokeapi/pokeapi_client_test.go
  app/modules/lambda_module/lambda.tf
  app/modules/lambda_module/terraform_outputs.tf
  app/modules/lambda_module/terraform_variables.tf
  app/terraform.tf
  app/terraform_outputs.tf
  app/terraform_variables.tf
  app/vars/dev.tfvars.tf
  go_compile_lambda.py
  go_test.py
  go_workspace_init.py
  shared_vars.py
  terraform_destroy.py
  terraform_plan.py
Due: compile_lambda, terraform_format, terraform_plan

polishing
  .gitignore
  app/main.tf
  app/provider.tf
  app/terraform.tf
  app/variables.tf
  app/vars/terraform.tfvars.tf
  shared_vars.py
Due: terraform_format, terraform_plan

polishing
  shared_vars.py
Due: none

polishing
  README.md
Due: none

template file
  app/main.tf
  app/templates/state_machine.json
Due: terraform_format, terraform_plan

http invoke step
  .gitignore
  app/main.tf
  app/policy.tf
  app/templates/state_machine.json
  app/variables.tf
  terraform_destroy.py
  terraform_plan.py
Due: terraform_format, terraform_plan

pokemon state machine
  app/main.tf
  app/policy.tf
  app/templates/pokemon-state-machine.json
  app/templates/state_machine.json
  app/variables.tf
  app/vars/terraform.tfvars.tf
  shared_vars.py
  terraform_destroy.py
  terraform_plan.py
Due: terraform_format, terraform_plan

funeral bell
  app/policy.tf
Due: terraform_format, terraform_plan

stillborn
  app/templates/pokemon-state-machine.json
Due: terraform_format, terraform_plan

in this river
  app/templates/pokemon-state-machine.json
Due: terraform_format, terraform_plan

fire it up
  app/templates/pokemon-state-machine.json
Due: terraform_format, terraform_plan

:hammer:
  app/templates/pokemon-state-machine.json
Due: terraform_format, terraform_plan

add lambda - WIP
  .gitignore
  app/lambda/fetch-pokemon-variety/go.mod
  app/lambda/fetch-pokemon-variety/go.sum
  app/lambda/fetch-pokemon-variety/main.go
  app/main.tf
  app/policy.tf
  app/provider.tf
  app/templates/pokemon-state-machine.json
  app/terraform.tf
  app/variables.tf
  go_compile.py
  shared_vars.py
Due: terraform_format, terraform_plan

Path conditions:
  compile_lambda: any of: ^app/lambda_src
  terraform_format: any of: ^app
  terraform_plan: any of: ^app
