Repository mangila/pokedex-cloud-native: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile_lambda, terraform_format, terraform_plan

compile_lambda:
  name: compile lambda go code
  entry: python compile_lambda.py
  language: system
  verbose: true
  require_serial: true
  stages:
  - pre-commit

terraform_format:
  name: Run terraform fmt
  entry: python terraform_format.py
  language: system
  verbose: true
  require_serial: true
  stages:
  - pre-commit

terraform_plan:
  name: Run terraform plan
  entry: python terraform_plan.py
  language: system
  verbose: true
  require_serial: true
  stages:
  - pre-commit

ci persist
  .circleci/config.yml
Due: none

ci test
  .circleci/config.yml
Due: none

lambda test
  app/lambda.tf
  app/lambda_src/hello/main.go
  app/s3.tf
Due: compile_lambda, terraform_format, terraform_plan

lambda test
  app/lambda_src/hello/main.go
Due: compile_lambda, terraform_format, terraform_plan

lambda test
  app/s3.tf
Due: terraform_format, terraform_plan

lambda test
  README.md
  app/cloudwatch.tf
  app/data.tf
  app/lambda.tf
  app/locals.tf
  app/outputs.tf
  app/s3.tf
Due: terraform_format, terraform_plan

lambda test
  app/outputs.tf
Due: terraform_format, terraform_plan

tf modules
  app/cloudwatch.tf
  app/data.tf
  app/lambda.tf
  app/locals.tf
  app/modules/compute_module/lambda.tf
  app/modules/compute_module/outputs.tf
  app/modules/compute_module/variables.tf
  app/modules/messaging_module/pipe.tf
  app/modules/messaging_module/sqs.tf
  app/modules/monitoring_module/cloudwatch.tf
  app/modules/monitoring_module/outputs.tf
  app/modules/monitoring_module/variables.tf
  app/modules/network_module/internet_gateway.tf
  app/modules/network_module/network_acl.tf
  app/modules/network_module/outputs.tf
  app/modules/network_module/route_table.tf
  app/modules/network_module/security_group.tf
  app/modules/network_module/subnet.tf
  app/modules/network_module/variables.tf
  app/modules/network_module/vpc.tf
  app/modules/security_module/iam.tf
  app/modules/security_module/outputs.tf
  app/modules/storage_module/outputs.tf
  app/modules/storage_module/s3.tf
  app/modules/storage_module/variables.tf
  app/network.tf
  app/outputs.tf
  app/provider.tf
  app/s3.tf
  app/terraform.tf
  terraform_format.py
Due: terraform_format, terraform_plan

tf modules - remove fmt check in ci - pre-commit instead
  .circleci/config.yml
Due: none

tf modules - remove fmt check in ci - pre-commit instead
  terraform_plan.py
Due: none

polishing
  .circleci/config.yml
  README.md
  app/data.tf
  app/locals.tf
  app/modules/network_module/locals.tf
  app/modules/network_module/network_acl.tf
  app/modules/network_module/security_group.tf
  app/modules/network_module/variables.tf
  app/modules/storage_module/dynamo_db.tf
  app/terraform.tf
Due: terraform_format, terraform_plan

polishing
  app/terraform_data.tf
  app/terraform_locals.tf
  app/terraform_outputs.tf
  app/terraform_variables.tf
Due: terraform_format, terraform_plan

ci test
  .circleci/config.yml
  README.md
  app/modules/compute_module/terraform_outputs.tf
  app/modules/compute_module/terraform_variables.tf
  app/modules/monitoring_module/terraform_outputs.tf
  app/modules/monitoring_module/terraform_variables.tf
  app/modules/network_module/terraform_locals.tf
  app/modules/network_module/terraform_outputs.tf
  app/modules/security_module/terraform_outputs.tf
  app/modules/storage_module/terraform_outputs.tf
  app/modules/storage_module/terraform_variables.tf
Due: terraform_format, terraform_plan

Path conditions:
  compile_lambda: any of: ^app/lambda_src
  terraform_format: any of: ^app
  terraform_plan: any of: ^app
